<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ 'PAGE_ABOUT.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card text-wrap>
      <ion-item>
        <ion-avatar item-start> <img class="appicon" src="assets/img/appicon.png" /> </ion-avatar>
        <h1>VS Extension Tracker</h1>
        <p>&copy; 2018 Marin Vitlov</p>
      </ion-item>
      <ion-item>
        <ion-icon class="icn-icon" name="information-circle" item-start></ion-icon>
        <h2>{{ 'PAGE_ABOUT.VERSION' | translate }}</h2>
        <p>v1.0.0</p>
      </ion-item>
    </ion-card>
    <ion-card text-wrap>
      <ion-item-divider no-lines>{{ 'PAGE_ABOUT.AUTHOR' | translate }}</ion-item-divider>
      <ion-item>
        <ion-icon class="icn-icon" name="person" item-start></ion-icon>
        <h2>Marin Vitlov</h2>
        <p>Kali, Croatia</p>
      </ion-item>
      <button ion-item (click)="openWebpage('https://github.com/mvitlov')">
        <ion-icon class="icn-icon" name="logo-github" item-start></ion-icon>
        <h2>{{ 'PAGE_ABOUT.GITHUB' | translate }}</h2>
        <ion-icon class="icn-light" name="arrow-dropright" item-end></ion-icon>
      </button>
      <button ion-item (click)="openWebpage('http://www.digitalgoods.eu')">
        <ion-icon class="icn-icon" name="globe" item-start></ion-icon>
        <h2>{{ 'PAGE_ABOUT.WEB' | translate }}</h2>
        <ion-icon class="icn-light" name="arrow-dropright" item-end></ion-icon>
      </button>
    </ion-card>
    <ion-card text-wrap>
      <ion-item-divider no-lines>{{ 'PAGE_ABOUT.SOCIAL' | translate }}</ion-item-divider>
      <button ion-item>
        <ion-icon class="icn-icon" name="share" item-start></ion-icon>
        <h2>{{ 'PAGE_ABOUT.SHARE' | translate }}</h2>
        <ion-icon class="icn-light" name="arrow-dropright" item-end></ion-icon>
      </button>
      <!-- TODO: RATE -->
      <!--
        <button ion-item>
          <ion-icon class="icn-icon" name="star" item-start></ion-icon>
          <h2>{{ 'PAGE_ABOUT.RATE' | translate }}</h2>
        </button>
      -->
      <button ion-item (click)="contact()">
        <ion-icon color="primary" name="mail" item-start></ion-icon>
        <h2>{{ 'PAGE_ABOUT.CONTACT' | translate }}</h2>
        <ion-icon class="icn-light" name="arrow-dropright" item-end></ion-icon>
      </button>
    </ion-card>
    <!-- TODO: DONATE -->
    <!--
      <ion-card text-wrap>
        <ion-item-divider no-lines>Donations</ion-item-divider>
        <button ion-item (click)="goToDonate()">
          <ion-icon color="primary" name="card" item-start></ion-icon>
          <h2>Donate</h2>
        </button>
      </ion-card>
    -->
  </ion-list>
</ion-content>
