<ion-card>
  <ion-item-divider no-lines> <span class="content-placeholder" style="width:38vw;">&nbsp;</span> </ion-item-divider>
  <ion-grid>
    <ion-row nowrap class="forecast_container">
      <ion-col col-4 *ngFor="let i of [0, 1, 2, 3]" padding-left>
        <div class="inner">
          <div class="content-placeholder" style="width:9rem;height:8rem;border-radius:15% !important;"></div>
          <small class="content-placeholder" style="width:16vw;height:1.2rem;">&nbsp;</small>
          <small class="content-placeholder" style="width:22vw;height:1.2rem;">&nbsp;</small>
        </div>
        <p><small class="content-placeholder" style="width:8vw;height:1.2rem;">&nbsp;</small></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
