page-explore-code {
  .categories.toolbar {
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.78);
    .scroll-zoom-wrapper {
      padding-top: 0.4rem;
    }
    label.toolbar-text {
      font-size: 1.1rem;
      font-weight: normal;
      text-transform: none;
    }
  }

  [col-4] {
    flex: 0 0 30%;
  }

  .card-title {
    -webkit-flex: none !important;
    flex: none !important;
  }

  .inner {
    .ext-icon {
      border-radius: 15%;

      .icon-inner {
        display: block;
        margin: 0 auto;
        padding: 0.8rem;
        border-radius: 0 !important;
        width: 8rem !important;
        height: 8rem !important;
      }
    }
    .caption {
      font-size: 1.2rem;
      font-weight: bolder;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-height: 1.6rem;
      height: 4.6rem;
    }
  }

  .row_container {
    overflow-x: scroll !important;
  }

  /* TRENDING */
  ion-select.select {
    padding: 1.4rem 1rem 1rem 0 !important;
  }

  /* Ripple effect */
  .ripple {
    background-position: center;
    transition: background 0.2s;
  }

  .ripple:active {
    background-size: 100%;
    transition: background 0s;
  }
}
