<ion-row>
  <ion-col col-8>
    <ion-item-divider no-lines>
      <ion-label class="primary card-title">Trending</ion-label>
      <ion-select interface="popover" (ionChange)="trendChange($event)" [(ngModel)]="trending">
        <ion-option value="TrendingDaily" selected>Today</ion-option>
        <ion-option value="TrendingWeekly">This Week</ion-option>
        <ion-option value="TrendingMonthly">This Month</ion-option>
      </ion-select>
    </ion-item-divider>
  </ion-col>
  <ion-col text-right no-padding>
    <ion-item-divider no-lines>
      <button text-right ion-button small outline (click)="onViewAll(trending, extensions)">View All</button>
    </ion-item-divider>
  </ion-col>
</ion-row>
<ion-grid>
  <ion-row nowrap class="row_container">
    <ion-col col-4 *ngFor="let ext of extensions" padding-left class="ripple" (click)="onExtensionDetails(ext)">
      <div class="inner" tappable>
        <div class="ext-icon">
          <img [src]="ext['fi']" onerror="this.src='assets/img/default_ext_icon.png'" class="icon-inner" />
        </div>
        <h5 class="caption" padding-top>{{ ext['t'] }}</h5>
      </div>
      <p>
        <small> <ion-icon name="star"></ion-icon>&nbsp; {{ ext.r | number: '1.2-2' }} ({{ ext.rc }})</small>
      </p>
    </ion-col>
  </ion-row>
</ion-grid>
