explore-list {
  .verticalcut {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: normal; /* fallback */
  }

  ion-avatar img {
    border-radius: 0 !important;
  }
}
