<ion-list>
  <ion-card text-wrap *ngFor="let ext of extensions">
    <button ion-item>
      <ion-avatar item-start> <img [src]="ext.icon" /> </ion-avatar>
      <h2 ion-text class="ext-title verticalcut" text-wrap>
        <b>{{ ext.name }}</b>
      </h2>
      <h6 class="verticalcut ext-description">{{ ext.description }}</h6>
      <p>
        <ion-row>
          <ion-col style="padding-left:0;">
            <ion-note class="icn-text">
              <ion-icon class="icn-icon" name="cloud-download"></ion-icon>&nbsp; {{ ext.totalInstalls | numFormat }}
            </ion-note>
          </ion-col>
          <ion-col>
            <ion-note class="icn-text"> <ion-icon class="icn-icon" name="star"></ion-icon>&nbsp; {{ ext.rating }} </ion-note>
          </ion-col>
          <ion-col col-6>
            <ion-note class="icn-text"> <ion-icon class="icn-icon" name="person"></ion-icon>&nbsp; {{ ext.publisherName }} </ion-note>
          </ion-col>
        </ion-row>
      </p>
    </button>
  </ion-card>
</ion-list>
<ion-infinite-scroll (ionInfinite)="getMoreResults($event)">
  <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more extensions..."> </ion-infinite-scroll-content>
</ion-infinite-scroll>
