<ion-header>
  <ion-navbar color="primary"> <ion-title>Details</ion-title> </ion-navbar>
  <shrinking-segment-header [scrollArea]="myContent" headerHeight="150">
    <img src="https://avatars.io/instagram/pathmoretravelled" />
    <h2>Josh</h2>
  </shrinking-segment-header>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="section" color="lighter">
      <ion-segment-button value="one"> Info </ion-segment-button>
      <ion-segment-button value="two"> Two</ion-segment-button>
      <ion-segment-button value="three"> Three </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen #myContent>
  <div [ngSwitch]="section">
    <ion-list *ngSwitchCase="'one'">
      <ion-item *ngFor="let something of somethings">
        <ion-thumbnail item-left>
          <img src="https://avatars.io/instagram/unknown" />
        </ion-thumbnail>
        <h2>Something</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'two'">
      <ion-item *ngFor="let something of somethings">
        <ion-thumbnail item-left>
          <img src="https://avatars.io/instagram/unknown" />
        </ion-thumbnail>
        <h2>Something</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'three'">
      <ion-item *ngFor="let something of somethings">
        <ion-thumbnail item-left>
          <img src="https://avatars.io/instagram/unknown" />
        </ion-thumbnail>
        <h2>Something</h2>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<!--
  <ion-content fullscreen #myContent>
    <div
      class="item-profile"
      text-center
      #profilePic
      [style.background-image]="'url(' + item.profilePic + ')'"
    ></div>

    <div class="item-detail" padding>
      <h2>{{ item.name }}</h2>
      <p>{{ item.about }}</p>
    </div>
  </ion-content>
-->
