<ion-list no-lines no-margin>
  <button ion-item (click)="shareExt()">{{ 'POPOVER_MENU.SHARE' | translate }}</button>
  <button ion-item (click)="openInBrowser()">{{ 'POPOVER_MENU.OPEN' | translate }}</button>
  <button ion-item (click)="copyUrl()">{{ 'POPOVER_MENU.COPY' | translate }}</button>
  <button ion-item (click)="watchExt()" *ngIf="!data.isFav">{{ 'POPOVER_MENU.TRACK' | translate }}</button>
  <button ion-item (click)="unWatchExt()" *ngIf="data.isFav">{{ 'POPOVER_MENU.UNTRACK' | translate }}</button>
</ion-list>
