<ion-item-divider class="primary" no-lines>
  Most Popular <button item-end text-right ion-button small outline (click)="onViewAll(extensions)">View All</button>
</ion-item-divider>
<ion-grid>
  <ion-row nowrap class="row_container">
    <ion-col col-4 *ngFor="let ext of extensions" padding-left class="ripple" (click)="onExtensionDetails(ext)">
      <div class="inner" tappable>
        <div class="ext-icon">
          <img [src]="ext['fi']" onerror="this.src='assets/img/default_ext_icon.png'" class="icon-inner" />
        </div>
        <h5 class="caption" padding-top>{{ ext['t'] }}</h5>
      </div>
      <p>
        <small> <ion-icon name="star"></ion-icon>&nbsp; {{ ext.r | number: '1.2-2' }} ({{ ext.rc }})</small>
      </p>
    </ion-col>
  </ion-row>
</ion-grid>
