<div class="star-rating">
  <span *ngFor="let index of [1, 2, 3, 4, 5]" id="{{index}}">
    <ion-icon color="primary" [name]="getIcon(index)"> </ion-icon>
  </span>
  &nbsp;
  <span>
    <b>{{ this.rating | number }}</b>
  </span>
  <span *ngIf="this.ratingCount > 0">
    ({{ 'PAGE_EXTENSION_DETAILS.STAT.TOTAL_RATINGS' | translate: { count: this.ratingCount } }})
  </span>
</div>
