star-rating {
  // .button {
  //   height: 28px;
  //   background: none;
  //   box-shadow: none;
  //   -webkit-box-shadow: none;
  //   width: 28px;
  // }
  // .button ion-icon {
  //   font-size: 32px;
  // }
}
