<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <div class="content-placeholder" style="width:4rem;height:4rem;border-radius:50% !important;"></div>
    </ion-avatar>
    <span class="content-placeholder" style="width:16rem;height:2rem;"></span><br />
    <span class="content-placeholder" style="width:60vw;height:1.2rem;"></span><br />
    <span class="content-placeholder" style="width:100%;height:1.2rem;"></span>
    <p>
      <ion-row>
        <ion-col style="padding-left:0;">
          <ion-note class="icn-text">
            <span class="content-placeholder" style="width:80%;height:1rem;"></span>
          </ion-note>
        </ion-col>
        <ion-col>
          <ion-note class="icn-text">
            <span class="content-placeholder" style="width:80%;height:1rem;"></span>
          </ion-note>
        </ion-col>
        <ion-col col-6>
          <ion-note class="icn-text">
            <span class="content-placeholder" style="width:80%;height:1rem;"></span>
          </ion-note>
        </ion-col>
      </ion-row>
    </p>
  </ion-item>
</ion-card>
