<ion-header >
  <ion-navbar color="primary">
    <ion-buttons start> <button ion-button (click)="dismiss()">Close</button> </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor="let ext of data" padding-left>
        <div class="inner" tappable>
          <div class="ext-icon">
            <img
              [src]="ext['fi']"
              onerror="this.src='assets/img/default_ext_icon.png'"
              class="icon-inner"
            />
          </div>

          <h5 class="caption">{{ ext['t'] }}</h5>
        </div>
        <p class="rating-small">
          <small> <ion-icon name="star"></ion-icon>&nbsp; 4.36 </small>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
