page-explore-all {
  .inner {
    .caption {
      font-size: 1.2rem;
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-height: 1.6rem; /* fallback */
      height: 3.2rem;
      margin-top: 1rem;
      margin-bottom: 0.4rem;
    }
  }

  .ext-icon {
    background-color: lightgray;
    border-radius: 10%;

    .icon-inner {
      display: block;
      margin: 0 auto;
      padding: 0.8rem;
      border-radius: 0 !important;
      width: 8rem !important;
      height: 8rem !important;
    }
  }

  .rating-small {
    margin-top: 0;
  }
}
