<ion-list no-lines no-margin>
  <ion-item-divider no-lines> SORT BY </ion-item-divider>
  <button ion-item (click)="close(4)" [ngStyle]="{ 'font-weight': orderBy === 4 ? 'bold' : 'normal' }">
    {{ 'SRT_MENU.DOWNLOADS' | translate }}
  </button>
  <button ion-item (click)="close(1)" [ngStyle]="{ 'font-weight': orderBy === 1 ? 'bold' : 'normal' }">
    {{ 'SRT_MENU.UPDATE_DATE' | translate }}
  </button>
  <button ion-item (click)="close(3)" [ngStyle]="{ 'font-weight': orderBy === 3 ? 'bold' : 'normal' }">
    {{ 'SRT_MENU.PUBLISHER' | translate }}
  </button>
  <button ion-item (click)="close(2)" [ngStyle]="{ 'font-weight': orderBy === 2 ? 'bold' : 'normal' }">
    {{ 'SRT_MENU.NAME' | translate }}
  </button>
  <button ion-item (click)="close(10)" [ngStyle]="{ 'font-weight': orderBy === 10 ? 'bold' : 'normal' }">
    {{ 'SRT_MENU.PUBLISH_DATE' | translate }}
  </button>
  <button ion-item (click)="close(12)" [ngStyle]="{ 'font-weight': orderBy === 12 ? 'bold' : 'normal' }">
    {{ 'SRT_MENU.RATING' | translate }}
  </button>
</ion-list>
