page-home {
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 2rem;
  }
  .big-icon {
    font-size: 6rem;
  }

  .has-refresher > .scroll-content {
    border-top: 0;
  }

  .verticalcut {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: normal; /* fallback */
  }
}
