<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ 'PAGE_HOME.TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentMenu($event)"><ion-icon name="funnel"></ion-icon></button
    ></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMin="120">
    <ion-refresher-content
      pullingIcon="ios-arrow-round-down"
      [pullingText]="'PAGE_HOME.PULLING_TEXT' | translate"
      refreshingSpinner="crescent"
      [refreshingText]="'PAGE_HOME.REFRESHING_TEXT' | translate"
    >
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="loading" class="spinner-container" padding><ion-spinner></ion-spinner><br />{{ 'PAGE_HOME.LOADING_TEXT' | translate }}</div>
  <ion-grid text-center *ngIf="!loading && !favorites?.length && !refreshing">
    <ion-row justify-content-center align-items-center>
      <ion-col>
        <ion-icon name="code-working" class="big-icon"></ion-icon>
        <h1 [innerHTML]="'PAGE_HOME.EMPTY_HEADER' | translate"></h1>
        <p margin [innerHTML]="'PAGE_HOME.EMPTY_SUBTITLE' | translate"></p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list [@listAnimation]="favorites?.length">
    <ion-card text-wrap *ngFor="let ext of (favorites | filterTarget: sortFilter:sortFilterChange)" class="item-ribbon">
      <span [ngClass]="'ribbon ' + ext.installTarget">
        <span> {{ ext.installTarget }}</span>
      </span>
      <button ion-item (click)="extensionDetails(ext)">
        <ion-avatar item-start> <img [src]="ext.icon" /> </ion-avatar>
        <h2 ion-text class="ext-title" text-wrap>
          <b>{{ ext.name }}</b>
        </h2>
        <h6 class="verticalcut ext-description">{{ ext.description }}</h6>
        <p>
          <ion-row>
            <ion-col style="padding-left:0;">
              <ion-note class="icn-text">
                <ion-icon class="icn-icon" name="cloud-download"></ion-icon>&nbsp; {{ ext.totalInstalls | numFormat: 2 }}
              </ion-note>
            </ion-col>
            <ion-col>
              <ion-note class="icn-text"> <ion-icon class="icn-icon" name="star"></ion-icon>&nbsp; {{ ext.rating }} </ion-note>
            </ion-col>
            <ion-col col-6>
              <ion-note class="icn-text"> <ion-icon class="icn-icon" name="person"></ion-icon>&nbsp; {{ ext.publisherName }} </ion-note>
            </ion-col>
          </ion-row>
        </p>
      </button>
    </ion-card>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab class="fab-btn" (click)="goToSearch()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
