<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ 'PAGE_EXP_STUDIO.TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only><ion-icon name="search"></ion-icon></button>
      <button ion-button icon-only *ngIf="currentView !== 'Explore'" (click)="presentMenu($event)">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- TOOLBAR CONTENT TOP -->
  <ion-toolbar nowrap class="categories">
    <ion-buttons>
      <ion-scroll scrollX="true">
        <button ion-button clear *ngFor="let item of toolbarItems" [class.active-view]="checkActiveView(item)" (click)="switchView(item)">
          <div>
            <ion-icon [name]="item.icon"></ion-icon><br />
            <label class="toolbar-text"> {{ item.name }} </label>
          </div>
        </button>
      </ion-scroll>
    </ion-buttons>
  </ion-toolbar>
  <!-- LOADING PLACEHOLDERS -->
  <div *ngIf="loading && currentView === 'Explore'"><explore-placeholder *ngFor="let i of [0, 1, 2, 3]"></explore-placeholder></div>
  <!-- MAIN CONTENT -->
  <div *ngIf="!loading && currentView == 'Explore'">
    <!-- FEATURED EXTENSIONS -->
    <ion-card> <featured-extensions [extension]="viewData['Featured']"></featured-extensions> </ion-card>
    <!-- TRENDING EXTENSIONS -->
    <ion-card>
      <trending-extensions [extensions]="viewData[trending]" (trendingChange)="onTrendingChange($event)"> </trending-extensions>
    </ion-card>
    <!-- MOST POPULAR EXTENSIONS -->
    <ion-card> <most-popular-extensions [extensions]="viewData['Most Popular']"></most-popular-extensions> </ion-card>
    <!-- HIGHEST RATED EXTENSIONS -->
    <ion-card><highest-rated-extensions [extensions]="viewData['Highest Rated']"></highest-rated-extensions> </ion-card>
  </div>
  <div *ngIf="loading && currentView !== 'Explore'"><list-placeholder *ngFor="let i of [0, 1, 2, 3]"></list-placeholder></div>
  <div *ngIf="!loading && currentView !== 'Explore'">
    <explore-list [area]="'studio'" [orderBy]="orderBy" [extensions]="viewData[currentView]" [viewTitle]="currentView"></explore-list>
  </div>
</ion-content>
