<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ pageTitleKey | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" *ngIf="settingsReady">
    <!-- MAIN SETTINGS PAGE -->
    <ion-list *ngIf="page == 'main'">
      <ion-item-divider no-lines>{{ 'PAGE_SETTINGS.GENERAL_DIVIDER' | translate }} </ion-item-divider>
      <ion-item>
        <ion-icon name="chatboxes" item-start></ion-icon>
        <ion-label> {{ 'PAGE_SETTINGS.LANGUAGE_BUTTON' | translate }} </ion-label>
        <ion-select
          formControlName="appLanguage"
          (ionChange)="changeLanguage($event)"
          cancelText="{{ 'CANCEL_BTN' | translate }}"
          okText="{{ 'OK_BTN' | translate }}"
        >
          <ion-option *ngFor="let lang of languageList" [value]="lang.short" checked="true">{{ lang.long }}</ion-option>
        </ion-select>
      </ion-item>
      <button ion-item [navPush]="themePage" [navParams]="themeSettings">
        <ion-icon name="color-palette" item-start></ion-icon>
        {{ 'PAGE_SETTINGS.THEME_BUTTON' | translate }}
        <ion-icon name="arrow-dropright" class="theme-checkmark" item-end></ion-icon>
      </button>
      <ion-item-divider no-lines> {{ 'PAGE_SETTINGS.NETWORK_DIVIDER' | translate }} </ion-item-divider>
      <ion-item>
        <ion-icon name="cloud-download" item-start></ion-icon>

        <ion-label>
          {{ 'PAGE_SETTINGS.PREFETCH_TITLE' | translate }} <br />
          <small ion-text text-wrap class="settings-desc">{{ 'PAGE_SETTINGS.PREFETCH_SUBTITLE' | translate }}</small>
        </ion-label>
        <ion-toggle formControlName="prefetchExtensions"></ion-toggle>
      </ion-item>
    </ion-list>

    <!-- APP THEME PAGE -->
    <ion-list *ngIf="page == 'theme'">
      <ion-list-header>{{ 'PAGE_SETTINGS.THEME_SUBTITLE' | translate }}</ion-list-header>
      <button ion-item *ngFor="let theme of themeList" (click)="changeTheme(theme.theme)">
        <ion-avatar [ngStyle]="{ background: theme.color }" item-start></ion-avatar>
        {{ theme.title }}
        <ion-icon name="checkmark-circle" class="theme-checkmark" item-end *ngIf="theme.theme === form.get('appTheme').value"></ion-icon>
      </button>
    </ion-list>
  </form>
</ion-content>
