.theme-clover {
  // From here to the next checkpoint is for theming the header - toolbar navbar but not the main content
  transition: all 1.1s ease;
  background-color: #388e3c;
  p,
  .toolbar-title,
  .bar-button-default,
  body,
  div {
    transition: all 1.1s ease;
    color: black;
  }
  .onboard {
    border-color: #388e3c !important;
  }
  .toolbar-background,
  .toggle-checked {
    transition: all 1.1s ease;
    background-color: #388e3c !important;
  }
  .toolbar-title {
    color: white !important;
  }

  //From here is where the main content is modified, this includes the backgorund of the page, ion-items and more
  /*
  ion-content,
  .input-wrapper,
  .item-inner,
  .item,
  ion-footer,
  ion-item,
  ion-label {
    transition: all 1.1s ease;
    background-color: #388E3C !important;
    background: #388E3C !important;
    color: black !important;
  }
  ion-list {
    background-color: #388E3C;
  }
  .item {
    transition: all 1s ease;
    background-color: #388E3C;
    color: black;
  }

  */
}
