.theme-default {
  /* COLOR VARIABLES */
  $primary: #2980b9;
  $lightest: #ecf0f1;
  $lighter: rgb(189, 195, 199);
  $light: rgb(142, 165, 167);
  $darkest: rgb(44, 62, 80);
  $darker: rgb(52, 73, 94);
  $dark: rgb(127, 140, 141);
  // ++++++++++ RIBBON COLORS
  $vs: #8e44ad;
  $code: #2980b9;
  $azure: #d35400;

  /* GLOBAL */
  .primary {
    color: $primary !important;
    font-size: 1.8rem;
  }

  .toolbar-background {
    background-color: $primary;
  }
  .bar-button,
  .toolbar-title {
    color: $lightest;
  }
  ion-spinner svg circle {
    stroke: $primary;
  }

  /* SIDE MENU */
  #menu-side {
    .menu-header {
      background: $primary;
      color: $lightest;
    }
    h3,
    .label {
      color: $dark;
    }
    ion-icon {
      color: $dark;
    }
    .active-highlight {
      background-color: $lightest;
      .icon {
        color: $primary;
      }
      .label {
        color: $primary;
      }
    }
  }

  /* HOME PAGE */
  page-home {
    .refresher-refreshing .spinner-crescent circle,
    .refresher-refreshing .spinner-ios line,
    .refresher-refreshing .spinner-ios-small line {
      stroke: $primary;
    }

    .big-icon {
      color: $lighter;
    }

    .fab-btn {
      color: $lightest;
      background-color: $primary;
    }
  }

  /* EXTENSION-DETAILS PAGE */
  page-extension-details {
    .segment-indicator {
      background-color: $lightest;
    }
    .segment-swipe ion-segment-button {
      color: $lighter;
    }
    .segment-swipe ion-segment-button.segment-active {
      color: $lightest;
      opacity: 1;
    }
  }

  /* PAGE EXPLORE TABS STYLE */
  page-explore {
    .tabbar {
      background-color: $primary;

      .tab-highlight {
        background-color: $lightest !important;
      }
      .tab-button[aria-selected='true'] {
        color: $lightest;
      }
      .tab-button {
        color: $lighter;
      }
    }
  }

  /* EXPLORE STUDIO | EXPLORE CODE */
  page-explore-studio,
  page-explore-code,
  page-explore-azure {
    .categories {
      .toolbar-background {
        background-color: white !important;
      }
      button.active-view {
        color: $primary;
      }
      button {
        color: $lighter;
      }
    }

    .ext-icon {
      background-color: $lightest;
    }
    .ripple:active {
      background-color: $lightest;
    }
  }

  /* SETTINGS PAGE */
  page-settings {
    .theme-checkmark {
      color: $primary;
    }
    .settings-desc {
      color: $light;
    }
  }

  page-about {
    .about-icon-bg {
      background: #2980b9;
      border-radius: 50%;
    }
  }

  /* GLOBAL */
  // homepage, search & about
  .ext-title,
  .ext-publisher,
  .ext-version {
    color: $primary;
  }
  .ext-description {
    color: $darkest;
  }
  .icn-icon {
    color: $primary;
  }
  .icn-light {
    color: $lighter;
  }
  .icn-text {
    color: $darkest;
  }

  /* CARD RIBBON EFFECT */
  @mixin ribbonize($ribbon-color, $text-color: white) {
    span {
      color: $text-color;
      background: $ribbon-color;
    }
  }
  .item-ribbon {
    position: relative;
    opacity: 1;
    .ribbon {
      position: absolute;
      right: -0.4rem;
      top: -0.4rem;
      z-index: 2;
      overflow: hidden;
      width: 8rem;
      height: 8rem;
      span {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        line-height: 2rem;
        transform: rotate(45deg);
        width: 10rem;
        display: block;
        position: absolute;
        top: 2rem;
        right: -2rem;
      }
    }
  }
  .ribbon.vs {
    @include ribbonize($vs, $lightest);
  }
  .ribbon.code {
    @include ribbonize($code, $lightest);
  }
  .ribbon.azure {
    @include ribbonize($azure, $lightest);
  }
}
