<div [class]="tp.appTheme | async">
  <!-- SIDE MENU -->
  <ion-menu [content]="content" id="menu-side">
    <ion-content>
      <div class="menu-header">
        <img class="app-icon round" src="assets/img/appicon.png" />
        <h5 class="title">{{ appName }}</h5>
        <p class="subtitle" *ngIf="watchCount === 0">{{ 'SIDE_MENU.NOT_TRACKING' | translate }}</p>
        <p class="subtitle" *ngIf="watchCount > 0">
          {{ 'SIDE_MENU.TRACKING' | translate: { count: watchCount } }}
        </p>
      </div>
      <ion-list no-lines>
        <div *ngFor="let p of pages">
          <ion-item-divider no-lines *ngIf="p.type === 'divider'">
            {{ 'SIDE_MENU.' + p.title | translate }}
          </ion-item-divider>
          <button
            menuClose
            ion-item
            (click)="openPage(p)"
            *ngIf="p.type === 'menuItem'"
            [class.active-highlight]="checkActivePage(p)"
          >
            <ion-icon [name]="p.icon" item-left></ion-icon>
            {{ 'SIDE_MENU.' + p.title | translate }}
            <ion-badge item-end *ngIf="p.title === 'Home' && watchCount > 0">{{
              watchCount
            }}</ion-badge>
          </button>
          <button menuClose ion-item *ngIf="p.type === 'command'" (click)="parseAction(p.action)">
            <ion-icon [name]="p.icon" item-left></ion-icon>
            {{ 'SIDE_MENU.' + p.title | translate }}
          </button>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!-- MAIN CONTENT -->
  <ion-nav #content swipeBackEnabled="false" [root]="rootPage"></ion-nav>
</div>
