// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

#menu-side {
  .menu-header {
    padding: 0.4rem 1.6rem;
    background-size: cover;

    .title {
      font-weight: 500;
      margin-bottom: 0.2rem;
    }

    .subtitle {
      margin-top: 0;
      margin-bottom: 0.6rem;
    }
  }
  .app-icon {
    padding: 0.4em;
    height: 12vh;
  }
  .round {
    border-radius: 50%;
  }
}
