<ion-header no-border>
  <ion-navbar transparent>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" class="skip-button">SKIP</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" dir="ltr" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides; let isLast = last">
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="slide.TITLE" padding-bottom></h2>
      <p [innerHTML]="slide.DESCRIPTION" *ngIf="!isLast"></p>
      <div padding-left padding-right padding-top *ngIf="isLast">
        <button ion-button large block color="primary" icon-end (click)="startApp()">
          {{ slide.DESCRIPTION }}
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
