page-tutorial {
  .skip-button {
    color: color($colors, primary) !important;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    font-weight: 700;
    font-size: 2.6rem;
    margin-top: 2.8rem;
  }

  .slide-image {
    max-width: 80vw;
    margin: 4rem 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 3.6rem;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #60646b;

    b {
      font-weight: 700;
      color: #000000;
    }
  }
  .swiper-pagination-bullet-active {
    background: color($colors, primary);
  }
}
