<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ 'PAGE_SEARCH.TITLE' | translate }}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar
      animated="true"
      debounce="500"
      (ionInput)="onSearchInput($event)"
      [placeholder]="'PAGE_SEARCH.SEARCH_PLACEHOLDER' | translate"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="searching" class="spinner-container"><ion-spinner></ion-spinner></div>
  <div *ngIf="!searching && !searchResults.length" class="spinner-container">
    {{ 'PAGE_SEARCH.ZERO_RESULTS' | translate }}
  </div>
  <ion-list [@listAnimation]="searchResults.length">
    <ion-card text-wrap *ngFor="let ext of searchResults" class="item-ribbon">
      <span [ngClass]="'ribbon ' + ext.installTarget">
        <span> {{ ext.installTarget }}</span>
      </span>
      <button ion-item (click)="openExtension(ext)">
        <ion-avatar item-start> <img [src]="ext.icon" /> </ion-avatar>
        <h2 ion-text class="ext-title" text-wrap>
          <b>{{ ext.name }}</b>
        </h2>
        <h6 class="verticalcut ext-description">{{ ext.description }}</h6>
        <p>
          <ion-row>
            <ion-col col-3 class="no-padding-left">
              <ion-note class="icn-text">
                <ion-icon class="icn-icon" name="cloud-download"></ion-icon>&nbsp;
                {{ ext.totalInstalls | numFormat: 2 }}
              </ion-note>
            </ion-col>
            <ion-col>
              <ion-note class="icn-text">
                <ion-icon class="icn-icon" name="star"></ion-icon>&nbsp; {{ ext.rating }}
              </ion-note>
            </ion-col>
            <ion-col col-6>
              <ion-note class="icn-text">
                <ion-icon class="icn-icon" name="person"></ion-icon>&nbsp; {{ ext.publisherName }}
              </ion-note>
            </ion-col>
          </ion-row>
        </p>
      </button>
    </ion-card>
  </ion-list>
</ion-content>
