page-search {
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 2rem;
  }
  .verticalcut {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: normal; /* fallback */
  }
  .card {
    .note {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .no-padding-left {
      padding-left: 0;
    }
    ion-avatar img {
      border-radius: 0;
    }
  }
}
