<ion-list no-lines no-margin>
  <ion-item-divider no-lines> {{ 'PAGE_HOME.MENU.SORT' | translate }} </ion-item-divider>
  <button ion-item (click)="close(4)">{{ 'SRT_MENU.DOWNLOADS' | translate }}</button>
  <button ion-item (click)="close(1)">{{ 'SRT_MENU.UPDATE_DATE' | translate }}</button>
  <button ion-item (click)="close(3)">{{ 'SRT_MENU.PUBLISHER' | translate }}</button>
  <button ion-item (click)="close(2)">{{ 'SRT_MENU.NAME' | translate }}</button>
  <button ion-item (click)="close(10)">{{ 'SRT_MENU.PUBLISH_DATE' | translate }}</button>
  <button ion-item (click)="close(12)">{{ 'SRT_MENU.RATING' | translate }}</button>
  <ion-item-divider no-lines> {{ 'PAGE_HOME.MENU.FILTER' | translate }} </ion-item-divider>
  <ion-item>
    <ion-label>Studio</ion-label>
    <ion-checkbox class="vs-color" [(ngModel)]="data.filter.vs" (ionChange)="onCheckChange()"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Code</ion-label>
    <ion-checkbox class="code-color" [(ngModel)]="data.filter.code" (ionChange)="onCheckChange()"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Azure</ion-label>
    <ion-checkbox class="azure-color" [(ngModel)]="data.filter.azure" (ionChange)="onCheckChange()"></ion-checkbox>
  </ion-item>
</ion-list>
