menu-filter {
  .vs-color .checkbox-checked {
    border-color: purple !important;
    background-color: purple !important;
  }
  .code-color .checkbox-checked {
    border-color: blue !important;
    background-color: blue !important;
  }
  .azure-color .checkbox-checked {
    border-color: orange !important;
    background-color: orange !important;
  }
}
