<ion-tabs tabsHighlight="true" tabsPlacement="top" no-border class="tabs-bar">
  <ion-tab [root]="tab1Root" tabTitle="VISUAL STUDIO"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="VS CODE"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="AZURE DEVOPS"></ion-tab>
</ion-tabs>
