<!-- NAV -->
<ion-header>
  <ion-navbar>
    <ion-title>{{ 'PAGE_EXTENSION_DETAILS.TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="unwatchExtension()" *ngIf="isFavorite">
        <ion-icon name="star"></ion-icon>
      </button>
      <button ion-button icon-only (click)="watchExtension()" *ngIf="!isFavorite">
        <ion-icon name="star-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment class="segment-swipe">
      <ion-segment-button
        *ngFor="let tab of tabs; let i = index"
        value="IngoreMe"
        (click)="selectTab(i)"
        [ngClass]="{
          'segment-active':
            this.SwipeSlides &&
            (this.SwipeSlides.getActiveIndex() === i ||
              (tabs.length - 1 === i && this.SwipeSlides.isEnd()))
        }"
        >{{ 'PAGE_EXTENSION_DETAILS.' + tab | translate }}
      </ion-segment-button>
    </ion-segment>
    <div
      id="indicator"
      class="segment-indicator"
      [ngStyle]="{ 'width.%': 100 / this.tabs.length }"
    ></div>
  </ion-toolbar>
</ion-header>

<!-- CONTENT -->
<ion-content>
  <ion-slides
    #SwipeSlides
    (ionSlideDrag)="animateIndicator($event)"
    (ionSlideWillChange)="updateIndicatorPosition()"
    (ionSlideDidChange)="updateIndicatorPosition()"
    (pan)="updateIndicatorPosition()"
    [pager]="false"
  >
    <!-- SLIDE 1 INFO -->
    <ion-slide id="slide1">
      <ion-card> </ion-card>
      <ion-card>
        <ion-item-divider> README.md </ion-item-divider>
        <ion-card-content [innerHtml]="readme" class="markdown-body"> </ion-card-content>
      </ion-card>
    </ion-slide>
    <!-- SLIDE 2 DETAILS -->
    <ion-slide id="slide2">
      <ion-card>
        <ion-item-divider> {{ 'PAGE_EXTENSION_DETAILS.DESC.TITLE' | translate }} </ion-item-divider>
        <ion-item>
          <ion-avatar item-start> <img [src]="extension.icon" /> </ion-avatar>
          <h2 text-wrap>
            <b>{{ extension.name }}</b>
          </h2>
          <h6 text-wrap>{{ extension.description }}</h6>
          <small>
            {{ 'PAGE_EXTENSION_DETAILS.DESC.FIRST_RELEASE' | translate }}
            {{ extension.firstRelease | date }}
          </small>
          <br />
          <small
            >{{ 'PAGE_EXTENSION_DETAILS.DESC.LAST_UPDATE' | translate }}
            {{ extension.lastUpdate | date }}</small
          >
          <br />
          <ion-badge
            float-right
            [color]="target === 'code' ? 'code' : target === 'azure' ? 'azure' : 'vs'"
          >
            {{ target }}
          </ion-badge>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item-divider> {{ 'PAGE_EXTENSION_DETAILS.DET.TITLE' | translate }} </ion-item-divider>
        <ion-item>
          <a>
            <h2 text-wrap>
              <b>{{ 'PAGE_EXTENSION_DETAILS.DET.PUBLISHER' | translate }}</b>
            </h2>
            <p ion-text class="ext-publisher">{{ extension.publisherName }}</p>
          </a>
          <hr />
          <h2 text-wrap>
            <b>{{ 'PAGE_EXTENSION_DETAILS.DET.VERSION' | translate }}</b>
          </h2>
          <p ion-text class="ext-version">{{ extension.version }}</p>
          <hr />
          <h2 text-wrap>
            <b>{{ 'PAGE_EXTENSION_DETAILS.DET.TAGS' | translate }}</b>
          </h2>
          <span text-wrap>
            <ion-badge *ngFor="let tag of extension.tagsArray"> {{ tag }} </ion-badge>
          </span>
          <hr />
          <h2 text-wrap>
            <b>{{ 'PAGE_EXTENSION_DETAILS.DET.ID_UNIQ' | translate }}</b>
          </h2>
          <p text-wrap>{{ extension.uniq_id }}</p>
          <hr />
          <h2 text-wrap>
            <b>{{ 'PAGE_EXTENSION_DETAILS.DET.ID_EXT' | translate }}</b>
          </h2>
          <p text-wrap>{{ extension.extId }}</p>
          <hr />
          <h2 text-wrap>
            <b>{{ 'PAGE_EXTENSION_DETAILS.DET.CATEGORIES' | translate }}</b>
          </h2>
          <p *ngFor="let category of extension.categoriesArray">{{ category }}</p>
        </ion-item>
      </ion-card>
    </ion-slide>
    <!-- SLIDE 3 STATISTICS -->
    <ion-slide id="slide3">
      <!-- INSTALLS CARD -->
      <ion-card>
        <ion-item-divider>{{
          'PAGE_EXTENSION_DETAILS.STAT.TOT_INST' | translate
        }}</ion-item-divider>
        <ion-item>
          <ion-icon class="icn-icon" name="cloud-download" item-start></ion-icon>
          {{ extension.totalInstalls | number }}
        </ion-item>
      </ion-card>
      <!-- TRENDS CARD -->
      <ion-card>
        <ion-item-divider>
          {{ 'PAGE_EXTENSION_DETAILS.STAT.TRENDS.TITLE' | translate }}
        </ion-item-divider>
        <ion-item>
          <ion-icon class="icn-icon" name="trending-up" item-start></ion-icon>
          {{ extension.getStat('trendingdaily') | number: '.2' }}
          <ion-note item-end>
            {{ 'PAGE_EXTENSION_DETAILS.STAT.TRENDS.DAILY' | translate }}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-icon class="icn-icon" name="trending-up" item-start></ion-icon>
          {{ extension.getStat('trendingweekly') | number }}
          <ion-note item-end>
            {{ 'PAGE_EXTENSION_DETAILS.STAT.TRENDS.WEEKLY' | translate }}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-icon class="icn-icon" name="trending-up" item-start></ion-icon>
          {{ extension.getStat('trendingmonthly') | number }}
          <ion-note item-end>
            {{ 'PAGE_EXTENSION_DETAILS.STAT.TRENDS.MONTHLY' | translate }}
          </ion-note>
        </ion-item>
      </ion-card>
      <!-- RATING CARD -->
      <ion-card>
        <ion-item-divider>
          {{ 'PAGE_EXTENSION_DETAILS.STAT.RATING' | translate }}
        </ion-item-divider>
        <ion-item>
          <star-rating
            [rating]="extension.getStat('averagerating')"
            [ratingCount]="extension.getStat('ratingcount')"
          >
          </star-rating>
        </ion-item>
      </ion-card>
    </ion-slide>
    <!-- SLIDE 4 CHANGELOG -->
    <ion-slide id="slide4">
      <ion-card>
        <ion-item-divider> CHANGELOG.md </ion-item-divider>
        <ion-card-content [innerHtml]="changelog" class="markdown-body"> </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
