page-extension-details {
  @import 'github-markdown';

  .segment-indicator {
    transition: 0.3s all;
    transform-origin: top 0 left 0;
    height: 2px;
    position: relative;
    top: -2px;
  }
  .segment-swipe ion-segment-button {
    border: none !important;
  }

  h1 {
    img {
      all: unset;
    }
  }

  ion-slide.swiper-slide {
    overflow-y: scroll;
    align-items: flex-start;

    .slide-zoom {
      text-align: start;
    }
  }

  #slide2 {
    ion-badge.badge {
      font-size: 1.1rem;
      font-weight: normal;
      margin: 0 0.4rem 0 0;
      text-transform: uppercase;
    }
  }
}
