page-donate {
  .header-bg {
    position: relative;
    // background: url('../assets/img/splashbg.png') no-repeat transparent;
    background: color($colors, primary);
    background-size: cover;
    height: 24%;
    z-index: 1;
  }

  .header-content {
    position: relative;
    z-index: 2;
    margin-top: -4rem;
    text-align: center;

    .title {
      margin: 0.8rem 0;
    }
    .subtitle {
      margin: 0.8rem 0;
      padding: 0 0.8rem;
    }
  }
  .header-icon {
    margin: auto;
    background: url('../assets/img/appicon.png') repeat transparent;
    background-size: 100%;
    width: 8rem;
    height: 8rem;
  }

  .inner {
    padding: 0.8rem 0;
    background: color($colors, lighter);
    text-align: center;
    .icon {
      // background: url('../assets/img/donate/steak.svg');
      background-size: cover;
      width: 7rem;
      height: 7rem;
      margin: auto;
    }
  }
}
