<!--
  Generated template for the DonatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button><ion-title>Donate</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="header-bg"></div>
  <div class="header-content">
    <div class="header-icon"></div>
    <h6 class="title">HEY THERE!</h6>
    <p class="subtitle">
      It would be <b>AWESOME</b> if you could show your support and keep this app free by donating a few dollars!
    </p>
  </div>

  <ion-grid>
    <ion-row *ngFor="let row of donationList">
      <ion-col col-4 *ngFor="let item of row">
        <div class="inner" tappable>
          <img [src]="item.icon" class="icon" />
          <h5 class="caption">${{ item.value }}</h5>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
